/* Variables */

:root {
	--base-white: #FFFFFF;
	--background-index: #365167;
	--background-reasons: #EEEEEE;
	--background-search-container: #fff;
	--blue-base: #81B3D2;
	--blue-hover: #669EC0;
	--blue-active: #81B3D2;
	--black-base: #000000;
	--black-logo: #231F20;
	--brown-base: #766357;
	--brown-hover: #604E43;
	--brown-active: #503E33;
	--brown-background: #746666;
	--gray-base: #A9A9A9;
	--gray-logo: #BDBBBC;
	--logo-base: #231F20;
	--field-background-base: #F2F2F2;
	--field-background-hover: #EBEBEB;
	--field-background-focus: #FFFFFF;
	--field-border: #E5E5E5;
	--rating-base: #CACACA;
	--color-toggle: #ababab;
	--toggle-box-shadow: #cfcfcf;
}
/* Global */

body {
	margin-top: 0;
	padding: 0;
	font-family: "PT Sans", "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 21px;
	line-height: 26px;
	color: var(--black-base);
	text-transform: uppercase;
	background-color: var(--field-background-base);
	color: var(--black-base);
	width: 1200px;
}
.content {
	position: relative;
	background-color: var(--base-white);
	max-width: 1200px;
	min-width: 768px;
	margin: 0 auto;
	-webkit-box-shadow: 0 5px 15px 0 rgba(0, 1, 1, .2);
	box-shadow: 0 5px 15px 0 rgba(0, 1, 1, .2);
}
a {
	text-decoration: none;
	color: var(--black-base)
}
/* Grid */

.page {
	height: 100%;
}
.page-body {
	min-height: 100%;
	min-width: 568px;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
	margin: 0 auto;
}
/* Main navigation */

.main-header {
	font-weight: bold;
	font-size: 14px;
	color: var(--black-base);
	position: relative;
}
.logo-sedona {
	width: 138px;
	height: 70;
	position: absolute;
	top: -15px;
	left: 50%;
	transform: translateX(-50%);
}
.main-navigation {
	width: 1200px;
	background-color: var(--base-white);
}
.menu-item {
	width: 197px;
	text-align: left;
	margin-left: 32px;
}
.menu-item:nth-child(4n+3) {
	margin-left: 206px;
}
.menu-item:nth-child(4n+3), .menu-item:nth-child(4n+4) {
	width: 197px;
	text-align: right;
}
.menu-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	color: var(--black-base);
}
.menu-item-link:hover {
	color: var(--blue-base);
}
.menu-item-link:active {
	color: var(--black-base);
	opacity: 0.3;
}
.menu-item-link--active {
	color: var(--brown-base);
}
.background {
	display: flex;
	justify-content: center;
	background-image: url(../img/background.jpg);
	width: 1200px;
	height: 509px;
	background-repeat: no-repeat;
	background-color: var(--background-index);
}
.background2 {
	margin-top: 79px;
	color: transparent;
	width: 457px;
	height: 351px;
}
/* Reasons */

.about-reasons {
	text-align: center;
	width: 480px;
	margin-left: 360px;
	font-size: 21px;
	line-height: 26px;
}
.reasons-description {
	font-size: 14px;
	line-height: 26px;
	padding-bottom: 38px;
}
.reasons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.reasons-information {
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: var(--background-reasons);
	font-size: 14px;
	width: 400px;
	padding-bottom: 39px;
}
.reasons-with-image {
	width: 400px;
	text-align: center;
	background-color: var(--blue-base);
}
.reasons--reverse div {
	order: 1;
}
.reasons-title {
	font-weight: bold;
	padding-top: 26px;
	font-size: 21px;
	line-height: 26px;
	margin-bottom: 43px;
}
.reason-photo {
	display: block;
}
.white {
	color: var(--base-white);
}
.reasons-number.white {
	margin-top: 27px;
}
.reasons-text.white {
	margin-top: 24px;
}
.reasons-name {
	font-size: 21px;
	line-height: 21px;
	margin-top: 47px;
}
.reasons-number {
	font-size: 14px;
	line-height: 21px;
	margin-top: 8px;
}
.reasons-text {
	font-size: 14px;
	line-height: 21px;
	margin-top: 9px;
	width: 311px;
	padding-left: 44px;
}
/* Specials */

.specials {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.specials-type {
	text-align: center;
	width: 400px;
	padding-top: 58px;
	padding-bottom: 66px;
}
.specials-name {
	font-weight: bold;
	font-size: 21px;
	line-height: 21px;
	text-align: center;
	margin-top: 21px;
}
.specials-description {
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	margin-top: 26px;
}
/* Search-hotel */

.search {
	padding-top: 33px;
	padding-left: 2px;
}
.search-title {
	font-weight: bold;
	font-size: 30px;
	line-height: 24px;
	text-align: center;
}
.search-description {
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	margin-top: 36px;
}
.search-hotel {
	display: block;
	background: var(--brown-base);
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: var(--base-white);
	padding-top: 30px;
	padding-left: 141px;
	padding-bottom: 30px;
	margin-top: 47px;
	margin-right: 316px;
	margin-left: 316px;
	cursor: pointer;
}
.search-hotel:hover {
	color: var(--base-white);
	background-color: var(--brown-hover);
}
.search-hotel:active {
	background-color: var(--brown-active);
}
.search-hotel-link:active {
	color: var(--base-white);
	opacity: 0.3;
}
.search-container {
	width: 568px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--background-search-container);
}
.modal {
	display: none;
}
@keyframes bounce {
	0% {
		transform: translateY(0px);
	}
	70% {
		transform: translateY(50px);
	}
	90% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0);
	}
}
.modal-show {
	display: block;
	animation-name: bounce;
	animation-duration: 0.6s;
}
.modal-error {
	animation: shake 0.6s;
}
@keyframes shake {
	0%, 100% {
		transform: translateX(0)
	}
	10%, 30%, 50%, 70%, 90% {
		transform: translateX(-10px);
	}
	20%, 40%, 60%, 80% {
		transform: translateX(10px);
	}
}
.search-field {
	background-color: var(--field-background-base);
}
.search-field:focus {
	background-color: var(--base-white);
	outline: 2px solid var(--field-border);
}
.filter-hotel-form {
	position: relative;
	margin: 55px;
	width: 458px;
}
.date-information {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 28px;
	width: 458px;
	height: 38px;
}
.departure {
	margin-bottom: 23px;
}
.date-information label {
	text-align: center;
	min-width: 112px;
	height: 38px;
	flex-shrink: 0;
}
.date-inputzone input {
	font: inherit;
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
	font-weight: bold;
	width: 346px;
	height: 38px;
	border: 0;
	background-color: var(--field-background-base);
	box-sizing: border-box;
	padding-left: 13px;
}
.date {
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
}
::-webkit-input-placeholder {
	color: var(--black-base);
}
.calendar {
	outline: none;
	border: 0px;
	position: absolute;
	width: 38px;
	height: 38px;
	right: 0;
}
.calendar svg {
	fill: var(--gray-base);
}
.calendar:hover svg {
	fill: var(--black-base);
}
.calendar:active svg {
	fill: var(--blue-active);
}
.adults-child {
	display: flex;
}
.inputzone {
	display: flex;
	margin-top: 8px;
	height: 38px;
}
.inputzone input {
	padding-left: 0;
	width: 38px;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
}
.button-plus-minus {
	width: 38px;
	box-sizing: border-box;
	border: 0;
	outline: 0;
}
.minus {
	padding-bottom: 9px;
}
.button-plus-minus svg {
	fill: var(--gray-base);
}
.button-plus-minus:hover svg {
	fill: var(--black-base);
}
.button-plus-minus:active svg {
	fill: var(--blue-active);
}
.adults-child input {
	padding-left: 0;
	width: 38px;
	height: 38px;
	text-align: center;
	border: none;
}
.adults {
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	min-width: 112px;
	height: 38px;
}
.children {
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	width: 118px;
	height: 38px;
}
.children label {
	padding-left: 51px;
}
.search-button {
	background-color: var(--blue-base);
	color: white;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	padding: 16px 182px;
	text-transform: uppercase;
	width: 458px;
	margin-top: 34px;
	border: 0;
}
.search-button:hover {
	color: white;
	background-color: var(--blue-hover);
}
.search-button:active {
	background-color: var(--blue-active);
	outline: none;
}
.search-button-active:active {
	color: var(--base-white);
	opacity: 0.3;
}
/* Map */

.map iframe {
	display: block;
	border: none;
	width: 100%;
	height: 585px;
}
/* Inner */

/* Filter-hotel */

.filter-hotel {
	background-image: url(../img/background-inner.jpg);
	background-color: var(--brown-background);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}
.form {
	display: flex;
	flex-direction: row;
	padding-top: 11px;
	padding-left: 71px;
	padding-right: 38px;
}
.filter {
	display: flex;
	flex-direction: column;
}
.filter-title {
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
	color: var(--base-white);
	margin-bottom: 13px;
}
.list-item {
	list-style: none;
	padding-left: 0px;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: var(--base-white);
}
.infrastructure-item, .accomodation-item {
	padding-bottom: 24px;
}
.filter-accomodation {
	padding-left: 120px;
}
/* Check */

.check {
	margin-left: 40px;
}
.check_input {
	position: absolute;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.check_box {
	position: absolute;
	width: 27px;
	height: 23px;
	background: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 0H20C21.65 0 23 1.35 23 3V20C23 21.65 21.65 23 20 23H3C1.35 23 0 21.65 0 20V3C0 1.35 1.35 0 3 0ZM21 3C21 2.458 20.542 2 20 2H3C2.458 2 2 2.458 2 3V20C2 20.542 2.458 21 3 21H20C20.542 21 21 20.542 21 20V3Z' fill='white'/%3E%3C/svg%3E") no-repeat;
}
.check_input:checked+.check_box {
	background-image: url("data:image/svg+xml,%3Csvg width='27' height='23' viewBox='0 0 27 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.28505 7.48601L4.45605 10.315L12.2391 18.098L26.1711 4.16601L23.3431 1.33701L12.2391 12.439L7.28505 7.48601Z' fill='white'/%3E%3Cpath d='M21 20C21 20.542 20.542 21 20 21H3C2.458 21 2 20.542 2 20V3C2 2.458 2.458 2 3 2H19.908L21.493 0.415C21.041 0.146542 20.5257 0.00329969 20 0H3C1.35 0 0 1.35 0 3V20C0 21.65 1.35 23 3 23H20C21.65 23 23 21.65 23 20V10.171L21 12.171V20Z' fill='white'/%3E%3C/svg%3E");
}
.check_input:disabled+.check_box {
	background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 0H20C21.65 0 23 1.35 23 3V20C23 21.65 21.65 23 20 23H3C1.35 23 0 21.65 0 20V3C0 1.35 1.35 0 3 0ZM21 3C21 2.458 20.542 2 20 2H3C2.458 2 2 2.458 2 3V20C2 20.542 2.458 21 3 21H20C20.542 21 21 20.542 21 20V3Z' fill='%236A6A6A'/%3E%3C/svg%3E");
}
.check_input:checked:disabled+.check_box {
	background-image: url("data:image/svg+xml,%3Csvg width='27' height='23' viewBox='0 0 27 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.28499 7.48601L4.45599 10.315L12.239 18.098L26.171 4.16601L23.343 1.33701L12.239 12.439L7.28499 7.48601Z' fill='%236A6A6A'/%3E%3Cpath d='M21 20C21 20.542 20.542 21 20 21H3C2.458 21 2 20.542 2 20V3C2 2.458 2.458 2 3 2H19.908L21.493 0.415C21.041 0.146542 20.5257 0.00329969 20 0H3C1.35 0 0 1.35 0 3V20C0 21.65 1.35 23 3 23H20C21.65 23 23 21.65 23 20V10.171L21 12.171V20Z' fill='%236A6A6A'/%3E%3C/svg%3E");
}
/* Price */

.filter-price {
	margin-left: 348px;
}
.hotel-price {
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
	color: var(--base-white);
	margin-bottom: 12px;
}
.min-price, .max-price {
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	color: var(--base-white);
}
.filter-item {
	border: none;
}
.range-filter {
	width: 317px;
}
.range-controls {
	position: relative;
	padding-top: 20px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 33px;
}
.range-controls .scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
	width: 80%;
	height: 2px;
	background: var(--base-white);
}
.range-controls .toggle {
	position: absolute;
	top: 10px;
	left: 1px;
	width: 4px;
	height: 4px;
	border: 8px solid var(--base-white);
	background-color: var(--color-toggle);
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 var(--toggle-box-shadow);
	cursor: pointer;
}
.range-controls .toggle:hover {
	border: 12px solid var(--base-white);
}
.range-controls .toggle-max {
	left: 252px;
}
.price-controls {
	display: flex;
	justify-content: space-between;
	border: 2px solid var(--base-white);
	border-radius: 2px;
	padding-top: 4px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 7px;
}
.price-controls .min-price {
	width: 90px;
	padding-left: 60px;
}
.price-controls .max-price {
	width: 90px;
	margin-right: 7px;
}
.price-controls label {
	text-transform: uppercase;
	font-size: 14px;
	line-height: 21px;
	color: var(--base-white);
}
.price-controls input {
	width: 50px;
	padding: 0px;
	border: none;
	border-radius: 5px;
	background: transparent;
	color: var(--base-white);
}
.min-price::after {
	content: " ";
	background: var(--base-white);
	width: 2px;
	height: 22px;
	float: right;
	margin-left: 22px;
	position: absolute;
}
.show {
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: var(--base-white);
	background-color: transparent;
	text-transform: uppercase;
	border: 2px solid var(--base-white);
	border-radius: 2px;
	padding-top: 6px;
	padding-right: 33px;
	padding-bottom: 5px;
	padding-left: 35px;
	margin-left: 85px;
}
.show:hover {
	color: var(--black-base);
	background-color: var(--base-white);
}
/* Found */

.found-list {
	display: flex;
	padding-top: 24px;
	padding-left: 73px;
	padding-right: 72px;
	padding-bottom: 14px;
	border-bottom: 1px solid var(--field-border);
}
.found {
	font-weight: bold;
	margin-right: 7px;
}
.assortment {
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
	margin-top: 1px;
	padding-right: 7px;
}
.assortment-result {
	list-style: none;
	display: flex;
	flex-grow: 1;
	margin-top: 2px;
}
.assortment-type {
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
}
.assortment-link {
	border-bottom: 1px dotted var(--blue-active);
	margin-left: 33px;
}
.assortment-link:hover {
	color: var(--blue-base);
}
.assortment-link:active {
	color: var(--black-base);
	opacity: 1;
	border-bottom: none;
}
.active {
	color: var(--blue-base);
	border-bottom: none;
}
.icon-up svg, .icon-down svg {
	fill: var(--rating-base);
}
.icon-up:hover svg, .icon-down:hover svg {
	fill: var(--black-base);
}
.icon-up:active svg, .icon-down:active svg {
	fill: var(--blue-hover);
}
.icon-up {
	margin-right: 6px;
}
.icon-down svg {
	fill: var(--blue-base);
}
/* Information about hotel */

.hotel {
	display: flex;
	flex-direction: row;
	padding-left: 73px;
	padding-top: 25px;
	padding-right: 72px;
	padding-bottom: 22px;
	border-bottom: 1px solid var(--field-border);
}
.hotel-description {
	flex-grow: 1;
}
.hotel-item {
	display: grid;
	grid-template-columns: 110px 142px;
	gap: 6px;
	margin-bottom: 15px;
	margin-top: 7px;
}
.hotel-image {
	margin-top: 6px;
	margin-right: 29px;
}
.hotel-name {
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}
.hotel-name:hover {
	color: var(--blue-hover);
}
.hotel-name:active {
	color: var(--black-base);
	opacity: 0.3;
}
.hotel-type, .price {
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
}
.link-hotelinfo {
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	color: var(--base-white);
	background-color: var(--blue-base);
	padding: 5px 17px;
}
.link-hotelinfo:hover {
	color: var(--base-white);
	background-color: var(--blue-hover);
}
.link-hotelinfo:active {
	color: var(--blue-active);
}
.book {
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	color: var(--base-white);
	background-color: var(--brown-base);
	padding: 5px 17px;
}
.book:hover {
	color: var(--base-white);
	background-color: var(--brown-hover);
}
.book:active {
	background-color: var(--brown-active);
}
.book-active:active {
	color: var(--base-white);
	opacity: 0.3;
}
.rating {
	margin-top: 5px;
	display: flex;
	flex-direction: column;
}
.rating-star {
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	background-color: var(--field-background-base);
	padding: 3px 14px;
}
.stars {
	background: url(../img/star.svg);
	background-repeat: space;
	background-size: 18px 18px;
	margin-left: auto;
	width: 88px;
	height: 25px;
	margin-bottom: 40px;
}
.three-stars {
	width: 64px;
	margin-bottom: 40px;
}
.two-stars {
	width: 41px;
}
/* Footer */

.page-footer {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	margin-top: 27px;
	padding-bottom: 15px;
}
.main-footer {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	width: 1200px;
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	top: 9;
	background-color: var(--base-white);
	padding-top: 23px;
	margin-bottom: -8px;
}
.contacts {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 75px;
}
.hashtag {
	font-weight: bold;
	margin-bottom: 9px;
}
.tel {
	font-weight: bold;
	color: var(--black-base);
	line-height: 26px;
}
.social-button {
	display: grid;
	grid-template-columns: 46px 46px 46px;
	grid-gap: 6px;
	list-style: none;
	margin-top: 13px;
	margin-left: 89px;
}
.social-icon {
	background-color: var(--blue-base);
}
.social-icon:hover {
	background-color: var(--blue-hover);
}
.social-icon:active {
	background-color: var(--blue-active);
}
.twitter {
	padding-top: 17px;
	padding-right: 14px;
	padding-left: 15px;
}
.facebook {
	padding-top: 13px;
	padding-left: 17px;
	padding-bottom: 7px;
}
.youtube {
	padding-top: 16px;
	padding-left: 13px;
}
.twitter:active, .facebook:active, .youtube:active {
	opacity: 0.3;
}
.link-htmlacademy {
	margin-top: 15px;
	display: flex;
	justify-content: center;
	margin-right: 49px;
	margin-top: 15px;
}
.link-text {
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
	margin-top: 10px;
	flex-shrink: 0;
	padding-right: 4px;
}
.link-logo svg {
	fill: var(--black-logo);
}
.link-logo:hover svg {
	fill: var(--blue-active)
}
.link-logo:active svg {
	fill: var(--gray-logo);
}