/* Variables */

:root {
--base-white: #FFFFFF;

--blue-base: #81B3D2;
--blue-hover: #669EC0;
--blue-active: #81B3D2;

--black-base: #000000;

--brown-base: #766357;
--brown-hover: #604E43;
--brown-active: #503E33;

--gray-base: #A9A9A9;

--logo-base: #231F20;
--field-background-base: #F2F2F2;
--field-background-hover: #EBEBEB;
--field-background-focus: #FFFFFF;

--rating-base: #CACACA;
}

/* Global */

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: var(--black-base);
  text-transform: uppercase;
  background-color: var(--base-white);
  color: var(--black-base);
  width: 1200px;
}

a {
  text-decoration: none;
  color: var(--black-base)
}

a:hover {
  color: var(--blue-hover)
}

/* Grid */

.page {
  height: 100%;
}



/* Main navigation */

.main-header {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--black-base)
}

.logo-sedona {
  width: 138px;
  height: 70;
}


.main-navigation {
  width: 1200px;
  background-color: var(--base-white);
  margin-bottom: 60px;
}

.menu-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--black-base);
}

.menu-list a {
  color: var(--black-base);
  text-align: center;
}

.menu-list li:hover {
  color: var(--blue-base);
}


.background {
  display: flex;
  justify-content: center;
  background-image: url(../img/background.jpg);
  height: 725px;
  width: 1200px;

}

.background2 {
  margin-top: 77px;
  color: transparent;
  width: 457px;
  height: 351px;
}

/* Reasons */ 

.about-reasons {
  text-align: center;
}

.reasons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.reasons-title {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
  }

.reasons-description {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}


.reasons-with-image1 {
  margin: 0;
  padding: 0;
  width: 400px;
  text-align: center;
  background-color: var(--blue-base);
}

.reasons-with-image2 {
  order: 1;
  width: 400px;
  text-align: center;
  background-color: var(--blue-base);
}


.reasons-white-name {
  background-color: var(--blue-base);
  color: var(--base-white);
  font-size: 21px;
  line-height: 21px;
}

.reasons-white-number {
  background-color: var(--blue-base);
  color: var(--base-white);
  font-size: 14px;
  line-height: 21px;
}

.reasons-white-description {
  background-color: var(--blue-base);
  color: var(--base-white);
  font-size: 14px;
  line-height: 21px;
}


.reasons3-5 {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.reasons-black {
  background-color: var(--base-white);
  color: var(--black-base);
  font-size: 21px;
  line-height: 21px;
}

.reasons-black-number {
  background-color: var(--base-white);
  color: var(--black-base);
  font-size: 14px;
  line-height: 21px;
}

.reasons-black-description {
  background-color: var(--base-white);
  color: var(--black-base);
  font-size: 14px;
  line-height: 21px;
}

/* Specials */

.specials {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin:auto;
}

.specials-name {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.specials-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

/* Search-hotel */

.hotel-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.search-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
}

.search-description {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.search-hotel {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  background-color: var(--brown-base);
  color: var(--base-white);
  width: 568px;
}

.search-hotel:hover {
  color: var(--base-white);
  background-color: var(--brown-hover);
}

.search-field {
  background-color: var(--field-background-base);
}

.arriving-date {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.departure-date {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.adults {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.children {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.search-field {
  font-weight: bold;
  font-size: 11px;
  line-height: 11px;
}

.search-button {
  background-color: var(--blue-base);
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.search-button:hover {
  color: white;
  background-color: var(--blue-hover);
}

/* Inner */

/* Filter-hotel */

.filter-hotel {
  background: url(../img/background-inner.jpg);
}

.filter {
  display: inline-block;
}


.infrastructure {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: var(--base-white);
}

.infrastructure-list {
  list-style: none;
  }

 .infrastructure-item {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--base-white);
 } 


.accommodation-list {
  list-style: none;
}
.accommodation {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: var(--base-white);
}

.accommodation-type {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--base-white)
}

.hotel-price {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: var(--base-white)
}

.price-from-to {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--base-white)
}

.show {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--base-white);
  background-color: transparent;
}

.show:hover {
  color: var(--black-base);
  background-color: var(--base-white);
}


/* Found */

.found-list {
  display: flex;
  justify-content: flex-start;
}

.found {
  align-self: baseline;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}





.assortment {
  align-self: baseline;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}
.assortment-result {
  list-style: none;
  display: flex;
  align-self: baseline;
}
.assortment-type1 {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--blue-base);
}
.assortment-type2 {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--black-base);
  opacity: 0.3;
}

.assortment-type2:hover {
  color: var(--blue-base);
}
/* Information about hotel */

.hotel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hotel1 {
  text-align: center;
}

.hotel2 {
  text-align: center;
}

.hotel3 {
  text-align: center;
}

.hotel-name {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.hotel-name:hover {
  color: var(--blue-hover);
}

.hotel-type {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.price {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.link-hotelinfo {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--base-white);
  background-color: var(--blue-base);
}

.link-hotelinfo:hover {
  color: var(--base-white);
  background-color: var(--blue-hover);
}

.book {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--base-white);
  background-color: var(--brown-base);
}

.book:hover {
  color: var(--base-white);
  background-color: var(--brown-hover);
}

.rating {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--field-background-base);
}


/* Footer */

.page-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.contacts {
  width: 251px;
  margin-bottom: 36px;
  margin-top: 23px;
}

.hashtag {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.tel {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--black-base)
}

.social-button {
  display: grid;
  grid-template-columns: 46px 46px 46px;
  grid-gap: 6px;
  margin-bottom: 36px;
  margin-top: 23px;
  list-style: none;
  text-align: center;  
}

.social-icon {
  text-align: center;
  background-color: var(--blue-base);
  width: 46px;
  height: 48px;
}

.html-logo:hover {
  color: var(--blue-hover);
}

